---
import Layout from "../layouts/Layout.astro";
---

<Layout class="flex flex-col justify-center items-center gap-10">
	<video
		src="videos/Habtronics_BannerVideo_withTitle.mp4"
		autoplay
		muted
		loop
		class="w-[75%] h-auto object-cover rounded-3xl mb-10"
	></video>

	<div class="relative w-[75%] group cursor-pointer">
		<div class="absolute -top-10 left-1/2 -translate-x-1/2 bg-black rounded-lg px-4 py-3 z-0">
			<p class="text-white font-sora font-semibold">FEATURED PRODUCT</p>
		</div>
		<img
			src="/images/Homepage_TinyPanel_noDrawings.png"
			alt="The Tiny4FSK PCB, a red PCB board held against the sky"
			class="w-full h-auto object-cover rounded-3xl relative z-10 transition-all duration-300 group-hover:grayscale group-hover:brightness-50"
		/>
		<div class="absolute top-5 left-1/2 -translate-x-1/2 flex flex-col items-center gap-3 z-20 transition-all duration-300 group-hover:grayscale">
			<img src="/logos/Tiny4FSK-Text.svg" alt="Tiny4FSK" class="w-130" />
			<h2 class="text-black text-4xl font-sora">your next long-range tracker</h2>
		</div>
		<div class="absolute inset-0 flex items-center justify-center z-30 opacity-0 group-hover:opacity-100 transition-opacity duration-300 cursor-default">
			<a href="/shop" class="bg-white text-black font-sora font-semibold px-8 py-3 rounded-lg shadow-lg hover:bg-gray-300 transition-colors">
				Learn More
			</a>
		</div>
	</div>
</Layout>

<style>

</style>
